.view-layout{
    position:absolute;
    top:0px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.view-layout1{
    position:fixed;
    top:0px;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.view-bg{
    position: absolute;
    top: 0px;
}
.view-bg1{
    position: fixed;
    top: 0px;
}

.searchbox .icon-search{
    display: relative;
    left: 16px;
    height: 16px;
}
.searchbox-voice{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.searchbox-input{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background: none;
    color: #9CA3AF;
    font-size: 14px;
    border: 0px;
}
.searchbox-input::-webkit-input-placeholder{
    color: #9CA3AF;
}
.searchbox-input::-moz-placeholder{
    color: #9CA3AF;
}
.searchbox-input::-moz-placeholder{
    color: #9CA3AF;
}
.searchbox-input::-ms-input-placeholder{
    color: #9CA3AF;
}

.log-input-layout{
    padding-left: 28px;
    width: 100%;
}
.log-title{
    font-size: 18px;
    line-height: 22px;
    color: #000;
    font-weight: 500;
}
.log-form-inputbox{
    margin-top: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(252,245,237,0.6);
    width: 335px;
    height: 43px;
    border-radius: 999px;
    border: 2px solid #856545;
}
.log-form-input{
    width: 100%;
    border: 0px;
    background: none;
}
.log-form-text{
    background: none;
    width: 100%;
    border: 0px;
    height: 100%;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    color: #000!important;
    padding-left: 16px;
}
.log-button{
    margin-top: 48px;
    display: flex;
    width: 100%;
    height: 57px;
    align-items: center;
    justify-content: center;
}
.log-button div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 304.19px;
    height: 100%;
    background-image: url('../../assets/image/log&sign/log-button.png');
}
.log-button p{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.log-form-select{
    margin-top: 24px;
    width: 100%;
    height: 12px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
}
.log-form-radio{
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    color: #000;
}
#log-radio-text span{
    color: #A62B1F;
}


.search-haeder{
    position: fixed;
    top: 40px;
    height: 30px;
    width: 100%;
    padding-left: 10px;
}
.search-back{
    width: 24px;
    height: 24px;
}
.search-searchbox{
    display: flex;
    gap: 12px;
    height: 30px;
    width: 100%;
    padding: 0 8px 0 8px;
    border-radius: 999px;
    background-color: #fff;
    align-items: center;
    justify-content: flex-start;
}
.search-searchbox .img{
    height: 20px;
}
.search-searchbox-form{
    flex: 1;
}
